:root {
    --fonte:'Zen Dots', cursive;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("background-mobile.gif");
    background-size: cover; 
    height: 100vh;
    width: 100vw;
}

/* classes */
.topo {
    height: 150px;
    display: flex;
    justify-content: center;
}

.box-game {
    min-width: 320px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 70px;
    margin: auto;

}

.torre-1,
.torre-2,
.torre-3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 20px;
    height: 200px;
    border: rgb(20, 7, 7) 1px solid;
    background-color: #394BB7;
    border-radius: 5px;
    cursor: pointer;
}


h1 {
    text-align: center;
    color: purple;
    font-family: var(--fonte);
}

h3 {
    font-family: var(--fonte);
    color: #000000;
}

.disco1 {
    width:60px;
    height: 20px;
    background-color: rosybrown;
    border-radius: 6px;
}

.disco2 {
    width: 55px;
    height: 20px;
    background-color: royalblue;
    border-radius: 6px;
}

.disco3 {
    width: 45px;
    height: 20px;
    background-color: salmon;
    border-radius: 6px;
}

.disco4 {
    width: 35px;
    height: 20px;
    background-color:seagreen;
    border-radius: 6px;
}

.disco1:hover {
    background-color: rgb(199, 164, 164);
}

.disco2:hover {
    background-color: rgb(91, 123, 219);
}

.disco3:hover {
    background-color: rgb(238, 145, 134);
}

.disco4:hover {
    background-color: rgb(80, 165, 117);
}

.torre-1:hover, .torre-2:hover, .torre-3:hover  {
    background-color: rgba(10, 173, 248, 0.8);
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    margin-top: 220px;
}

@media (min-width: 680px) {
    body {
        background-image: url("background.gif");
        background-size:initial;
        background-repeat: no-repeat;
    }

    .box-game {
        width: 500px;
    }

    main {
        height: 100vh;
    }

    h1,h3 {
        color: #F15980;
        font-family: var(--fonte);
    }

    div.topo {
        height: 30px;
    }

    .torre-1,
    .torre-2,
    .torre-3 {
        width: 40px;
        height: 500px;
        background-color: #AE52AB;
    }

    .disco1 {
        background-color: #0C4383;
        width: 110px;
        height: 30px;
    }

    .disco2 {
        background-color: #30A0B6;
        width: 90px;
        height: 30px;
    }

    .disco3 {
        background-color: #6CEE9E;
        width: 70px;
        height: 30px;
    }

    .disco4 {
        background-color: #7C2847;
        width: 50px;
        height: 30px;
    }

    footer {
        margin-top: 0;
    }
}
